/*  your css code here. If applicable */
#heading-1{
	color: #2a7ae2;
}
#heading-2{
	color:  #f44336;
}
#heading-3{
	color:  #4caf50;
}
#heading-4{
	color:  #ff9800;
}
#heading-5{
	color:  #607d8b;
}
#heading-6{
	color:  #ffeb3b;
}


